#scroll-btn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 0.5rem 0.8rem;
    background-color: #000;
    cursor: pointer;
    visibility: hidden;
    transition: all .3s;
}

#scroll-btn i {
    color: #fff;
}