.cate-btn {
    background-color: #FFF;
    color: #000;
    border-radius: 10px;
}

.ctn-hover {
    transition: all .3s;
}

.elem-hover {
    top: 50%;
    opacity: 0;
    transition: all .3s;
    transform: translate(0, 1.5rem);
}

.ctn-hover:hover {
    opacity: 0.8;
}

.ctn-hover:hover .elem-hover {
    opacity: 1;
    transform: none;
}