.transition {
	transition: all .3s;
}

.product .text-center a{
	font-weight: 500;
	font-size: 1.1rem;
	color: #000;
}

.product .text-center a:hover {
	color: #56cfe1;
}

.product img {
    width: 100%;
}

@media (min-width: 768px){
	.product img {
		height: 20rem;
	}
}

@media (max-width: 768px){
	.product .text-center a{
		font-size: 1.3rem;
	}
}

.product {
	padding-top: 1.5rem;
}

.overlay {
	opacity: 0;
	top: 0;
	background-color: rgba(0,0,0,.2);
}

.product:hover .overlay {
	opacity: 1;
}

.product:hover .btn {
	transform: none;
}

.btn {
    top: 47%;
    left: 50%;
    margin-left: -4rem;
    transform: translate(0,-1rem);
}

.link {
	background-color: #fff;
	color: #000;
    border-radius: 99px;
    padding: 10px 25px;
}

.link:hover {
	background-color: #000;
	color: #fff;
}